.wrapper {
  background-color: #efefef;
  padding: 30px;
}

.container {
  padding: 30px;
}

.pageTitle {
  font-size: 24px;
  color: #000;
  margin: 0 0 30px 0;
}

.appBar {
  position: fixed;
  top: 0
}

.menuItem {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

.formActions {
  margin-top: 20px
}

.topButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	background: #222d32;
    opacity: 0.5;
	display: none;
}

.topButton:hover {
	opacity: 1;
	cursor: pointer;
}

.topButton span {
	font-size: 25px;
	padding: 12px;
	color: #FFF;
}
