.wrapper {
  background-color: #efefef;
}

.container {
  padding: 15px;
  margin-top: 20px;
}

.pageTitle {
  font-size: 35px;
  text-align: center;
  margin: 7% 0 25px 0;
}

.bottom {
  margin-top: 20px;
}