.dropdown.user li a { color: #777 !important }

.clickable {
	cursor: pointer;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
	display:none !important;
}

.select2-selection__choice {
	font-size: 13px;
}

.select2-container .select2-search--inline .select2-search__field {
	font-size: 15px;
}

.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  border: medium none;
}

.top-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	background: #222d32;
    opacity: 0.5;
	display: none;
}

.top-button:hover {
	opacity: 1;
	cursor: pointer;
}

.top-button span {
	font-size: 25px;
	padding: 12px;
	color: #FFF;
}
